.contact {
    padding: 20px;
    margin-bottom: 100px;
}

.contact form {
    padding-top: 40px;
    padding-bottom: 10px;
}

.formComponent{
 padding-top: 10px;
 padding-bottom: 10px;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  .contact label{
    font-weight: bold;
    padding-top: 20px;
  }
  
  .contact textarea {
    height: 100px;
    resize: none;
  }

  .contact button {
    width: 100%;
    background-color: #4A235A;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .contact button:hover {
    background-color: #6C3483;
  }

  .cards{
    position: relative;
    justify-content: left;
    text-align: left;
    display: flex;
    font-size: 25px;
    padding-top: 10px;
  }

  .cards > strong{
    padding-left: 5px;
  }

  .cards > img {
    width: 30px;
  }
  